/.idea/*
caviar.iml
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

target/

src/main/resources/Google_word2vec_zhwiki1710_300d.bin

src/main/resources/search_data/Google_word2vec_zhwiki1710_300d.bin
log/tibet.log.1
src/main/resources/search_data/

hs_err_pid30348.log
src/main/resource/Similar.json

